.burger {
	border: none;
	display: inline-block;
	position: absolute;
	padding: 0;
	right: 1rem;
	bottom: 15px;
	background-color: transparent;
	// background-color: red;
	width: 30px;
	height: 30px;
	// margin-left: auto;
	// flex: 0 0 35px;
	> * {
		height: 2px;
		width: 30px;
		background-color: var(--primary);
		transition: all 0.3s;
		&:not(:last-child) {
			margin-bottom: 20%;
		}
	}
	// &__one {
	// }
	// &__two {
	// }
	// &__three {
	// }
}

.active {
	.burger {
		&__one {
			transform: rotate(45deg) translate(5px, 6px);
		}
		&__two {
			background-color: transparent;
		}
		&__three {
			transform: rotate(-45deg) translate(5px, -6px);
		}
	}
	#menu {
		transform: translateY(0);
	}
}
