.footer {
	ul {
		display: grid;
		grid-template-columns: repeat(4, 70px);
		place-items: center;
		place-content: center;
		// justify-content: space-between;
		text-align: center;
		border-radius: 40px;
		box-shadow: 0 4px 4px 0 var(--primary-light);
		padding: 6px 36px;
		margin: 8px;
		li {
			transition: all 0.3s;
			border-top: 4px solid transparent;
			a {
				color: var(--secondary);
				path {
					fill: var(--secondary);
				}
			}
			&:hover,
			&:active {
				border-top: 4px solid var(--accent);
				a {
					color: var(--accent);
					path {
						fill: var(--accent);
					}
				}
			}
		}
	}
}
