@use "./modules/helpers/helpers.scss" as *;
@use "./modules/helpers/variables/colors" as *;

@font-face {
	font-family: "Helvetica";
	src: url("./fonts/helvetica_bold.otf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica";
	src: url("./fonts/helvetica_light.otf");
	font-weight: light;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica";
	src: url("./fonts/helvetica_regular.otf");
	font-weight: regular;
	font-style: normal;
}

body {
	margin: 0;
	background-color: var(--primary);
	font-family: "Helvetica";
	color: var(--secondary);
}
a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.fz {
	&-m {
		font-size: 15px;
	}
}

.button {
	color: var(--primary);
	text-align: center;
	font-size: rem(10);
	letter-spacing: 1.75px;
	text-transform: uppercase;
	border-radius: 12px;
	background: var(--accent-dark);
	transition: 0.5s;
	padding: 0.7rem 2rem;
	border: none;
	&:hover {
		background: var(--accent-light);
	}
}

.dark {
	path {
		fill: var(--secondary);
	}
}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
